.topBanner{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}


.content input, .content button, .content select, .content textarea{
    outline: none;
    border: 2px solid #CECECE;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    background-color: white;
    transition-duration: 0.2s;
}
.content input:hover, .content button:hover, .content select:hover, .content textarea:hover{
    border-color: #669D31;
}
.content input:focus, .content button:focus, .content select:focus, .content textarea:focus{
    border-color: #669D31 !important;
    box-shadow: 0 0 0 4px #669D3155;
}
textarea{
    text-align: left !important;
    resize: none;
}
.content input[type="submit"], .content button{
    background-color: #669D31;
    color: white;
    cursor: pointer;
    border-width: 0px !important;
}
.content input[type="submit"]:hover, .content button:hover{
    background-color: #558428;
}

.danger{
    background-color: rgb(175, 0, 0) !important;
    border-width: 0px !important;
}
.danger:hover{
    background-color: darkred !important;
}
.danger:focus{
    box-shadow: 0 0 0 4px rgba(175, 0, 0, 0.559) !important;
}

.content .error{
    color: red;
    border-color: red;
}
.content .success{
    color: green;
    border-color: green;
}
.content .success, .content .error{
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
    background-color: white;
    border-radius: 3px;
    border-left: 5px solid;
    padding: 10px 20px;
    min-width: 30vw;
}

.info{
    font-size: 18px;
    color: black;
    text-align: center;
}
.info > p{
    margin-top: 20px;
}
.info > input, .info > select{
    margin-top: 8px;
    min-width: 40vw;
}
.info > input:last-child{
    margin-top: 20px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}

.cattitle{
    margin-top: 60px;
    font-size: 18px;
    font-weight: bold;
}